PORT=4500
MONGO_URI=
REDIS_PASSWORD=
MINIO_ROOT_USERNAME=
MINIO_ROOT_PASSWORD=
MINIO_ENDPOINT=
MINIO_REGION=
BUCKET_NAME=
REDIS_URI=
IMAGEKIT_PUB_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=
REDIS_URL=
REDIS_PASS=