IMAGEKIT_PUBLIC_KEY=<your-imagekit-privatekey>
IMAGEKIT_PRIVATE_KEY=<your-imagekit-pubkey>
IMAGEKIT_END_POINT=<your-imagekit-endpoint>
MONGO_URI=mongodb://<your-mongoBD-username>:<your-db-password>@<your-service-name>:27017/imageprocessor?authSource=admin
JWT_AUTH=<jwt_Auth>