MONGO_ROOT_USERNAME=
MONGO_ROOT_PASSWORD=
JWT_AUTH=
MONGO_URI=
PORT=
REDIS_PASSWORD=
MINIO_ROOT_USERNAME=
MINIO_ROOT_PASSWORD=
MINIO_ENDPOINT=
MINIO_REGION=
BUCKET_NAME=
IMAGEKIT_PUB_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=
REDIS_URL=